/*
  Name: David Schultz
  Date: 10.21.2020
  Section: CSE 154 AF / Wilson Tang

  This is the formatting style sheet for the site.  It primarily
  contains rules for formatting across the site.
*/

body, a, h1, h2 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0px 30px 10px 30px;
  line-height: 1.4em;
}

details {
  padding-bottom: 15px;
}

.home-nav {
  padding: 0px 0px 10px 0px;
}

.flex-container {
  display: flex;
}

.heading-container {
  width: fit-content;
  margin-bottom: 20px;
}

.highlight {
  padding: 4px 10px 4px 10px;
}

main {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#liked {
  overflow: scroll;
  width: 200px;
  margin: 20px;
  height: 70vh;
  flex-direction: column;
  padding: 15px;
}

.card {
  width: 100%;
  margin-bottom: 10px;
}

.card-image {
  display: block;
  width: 100%;
  margin: 0px;
}

.inline {
  display: inline;
}

.centered {
  text-align: center;
}

.max-width-70 {
  max-width: 70%;
  margin: 0 auto;
}
