/*
  Name: David Schultz
  Date: 10.21.2020
  Section: CSE 154 AF / Wilson Tang

  This is the formatting style sheet for the site.  It primarily
  contains rules for formatting across the site.
*/

body, a, h1, h2 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0px 30px 10px 30px;
  line-height: 1.4em;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.flex-item {
  align-self: center;
}

.flex-subitem {
}

.margin-top-84 {
  margin-top: 84px;
}
.margin-top-32 {
  margin-top: 32px;
}
.margin-top-12 {
  margin-top: 12px;
}
