body, a {
  font-family: "source-sans-pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #F4F3EE;
}

h1, .h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 80%; /* i believe default h1 line-height is larger than 100% */
  text-align: center;
  letter-spacing: -0.03em;
}

h2, .h2 {
  font-size: 40px;
  font-weight: bold;
}

h3, .h3 {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
}

.pretitle {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

strong {
  font-size: 16px;
  font-weight: 600;
}

em {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}

small {
  font-size: 12px;
}

.subtext {
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
}

.color-goldenrod {
  color: #FDC149;
}

.color-black-chocolate {
  color: #23231A;
}

.color-isabella {
  color: #F4F3EE;
}

.color-charcoal {
  color: #3E4A51;
}

.color-dark-bg {
  background-color: #23231A;
}

.color-charcoal-bg {
  background-color: #3E4A51;
}

.card {
  border-radius: 2px;
  box-shadow: 1px 1px 5px #343434;
  margin-right: 1px;
}

.photo-buttons {
  text-align: center;
}

.photo-buttons button {
  color: #fff;
  font-size: 32px;
  background-color: transparent;
  border: none;
  outline: none;
}

.photo-buttons button:hover {
  cursor: pointer;
}

.highlighted {
  border: 2px solid #fff;
  box-shadow: 0px 0px 16px #fff;
}
